.bg-light {
    background-color: #f8f9fa!important;
    direction: rtl;
}
.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    direction: rtl;
}


/* Media query */

@media only screen and (max-width: 991px) {
.navbar-expand-lg .navbar-nav {
    flex-direction: column;
    width: 100%;
    direction: rtl;
}
}